# Getting started with HDF5 and PyTables

*11/03/2018 - Giacomo Debidda @PyCon Slovakia*

In [1]:
import os
import numpy as np
import pandas as pd
import tables as tb

In [2]:
np.set_printoptions(precision=2, suppress=True)

In [3]:
data_dir = os.path.join(os.getcwd(), 'data')
print(data_dir)

/home/jack/Repos/hdf5-pycon-slovakia/data

### HDF5: a filesystem in a file

HDF5 is a data model and an open file format for storing and managing big and complex data.

An HDF5 file can be thought of as a container (or group) that holds a variety of heterogeneous data objects (or datasets). The datasets can be almost anything: images, tables, graphs, or even documents, such as PDF or Excel.

- Datasets (i.e. files in a filesystem)
- Groups (i.e. directories in a filesystem)
- Attributes (i.e. metadata of file/directory)

![HDF5 structure](img/hdf5_structure.jpg)

Working with groups and group members is similar to working with directories and files in UNIX.

**/** root group (every HDF5 file has a root group)

**/foo** member of the root group called foo

**/foo/bar** member of the group foo called bar

### HDF5: the C library

Since HDF5 is an open file format, you could read the specifications (150 pages) and implement it in any language.

As far as I know, there is only a C implementation developed by the HDF Group.

### HDF5 in the Python data stack

![h5py - PyTables refactor](img/h5py-pytables-refactor.png)

![PyTables logo](img/pytables-logo.png)

- Does not want to be a complete wrapper for the entire HDF5 C API
- High level abstraction over HDF5 (it's more "battery included" than h5py)
- Does not depend on h5py (at the moment)
- Natural naming
- Fast searches (indexing, out-of-core querying)
- Built-in compression
- Undo mode

### Groups, Attributes, ~~Datasets~~

Let's have a brief overview of the PyTables API.

> Let's forget HDF5 Datasets for a moment...

- how to create groups, attributes and arrays
- how to access nodes in a HDF5 file
- how to access data in a node

### Natural naming

PyTables nodes (i.e. any element in the hierarchy of the HDF5 file) can be accessed with the dot notation if they follow a *natural naming* schema (like in pandas).

In [7]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_group(where='/', name='my_group')

In [8]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_group(where='/', name='my group')

/home/jack/.virtualenvs/hdf5-pycon-slovakia/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: 'my group'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)

When a node which does not follow the natural naming schema you can still use `get_node` to access it.

In [9]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    my_group = f.get_node(where='/my group')
    print(my_group)
    my_group = f.get_node(where='/', name='my group')
    print(my_group)

/my group (Group) ''
/my group (Group) ''

### Let's create some data

In [10]:
arr1d = np.linspace(start=0, stop=100, num=10, dtype=np.int8)
arr1d

array([  0,  11,  22,  33,  44,  55,  66,  77,  88, 100], dtype=int8)

In [11]:
arr2d = np.arange(30, dtype=np.float32).reshape(10, 3)
arr2d

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.],
       [ 6.,  7.,  8.],
       [ 9., 10., 11.],
       [12., 13., 14.],
       [15., 16., 17.],
       [18., 19., 20.],
       [21., 22., 23.],
       [24., 25., 26.],
       [27., 28., 29.]], dtype=float32)

In [12]:
arr3d = np.random.random((10, 3, 5)).astype('float32')
arr3d

array([[[0.65, 0.2 , 0.77, 0.75, 0.15],
        [0.02, 0.43, 0.94, 0.85, 0.19],
        [0.83, 0.75, 0.14, 0.7 , 0.6 ]],

       [[0.3 , 0.99, 0.66, 0.92, 0.95],
        [0.47, 0.75, 0.25, 0.88, 0.92],
        [0.57, 0.79, 0.38, 0.27, 0.79]],

       [[0.42, 0.14, 0.79, 0.35, 0.52],
        [0.27, 0.75, 0.73, 0.45, 0.57],
        [0.03, 0.68, 0.57, 0.01, 0.74]],

       [[0.87, 0.8 , 0.84, 0.89, 0.37],
        [0.18, 0.83, 0.97, 0.97, 0.29],
        [0.01, 0.69, 0.96, 0.42, 0.88]],

       [[0.19, 0.64, 0.38, 0.95, 0.13],
        [0.56, 0.89, 0.91, 0.39, 0.57],
        [0.85, 0.77, 0.52, 0.64, 0.32]],

       [[0.76, 0.41, 0.72, 0.94, 0.45],
        [0.66, 0.44, 0.17, 0.75, 0.68],
        [0.06, 0.86, 0.64, 0.63, 0.82]],

       [[0.07, 0.41, 0.21, 0.07, 0.23],
        [0.73, 0.32, 0.75, 0.2 , 0.88],
        [0.65, 0.96, 0.27, 0.7 , 0.45]],

       [[0.4 , 0.74, 0.73, 0.96, 0.93],
        [0.08, 0.94, 0.78, 0.4 , 0.77],
        [0.22, 0.44, 0.67, 0.61, 0.98]],

       [[0.43, 0.02, 0.38, 0.19, 0.92],
        [0.56, 0.17, 0.18, 0.17, 0.41],
        [0.06, 1.  , 0.51, 0.35, 0.23]],

       [[0.8 , 0.99, 0.06, 0.73, 0.22],
        [0.04, 0.65, 0.14, 0.85, 0.  ],
        [0.68, 0.93, 0.76, 0.68, 0.4 ]]], dtype=float32)

### Create groups, attributes, arrays

In [13]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_array(where='/', 
                   name='array_1d',
                   title='A one-dimensional Array',
                   obj=arr1d)
    f.set_node_attr(where='/array_1d', attrname='SomeAttribute', attrvalue='SomeValue')
    
    f.create_group(where='/', name='multidimensional_data', title='Multi dimensional data')
    f.set_node_attr(where='/multidimensional_data', attrname='SomeOtherAttribute', attrvalue=123)
    
    f.create_array(where='/multidimensional_data', 
                   name='array_2d',
                   title='A two-dimensional Array',
                   obj=arr2d)
    
    f.create_array(where=f.root.multidimensional_data, 
                   name='array_3d',
                   title='A three-dimensional Array',
                   obj=arr3d)

### Traverse a HDF5 file

In [14]:
with tb.open_file('data/my_pytables_file.h5', 'r') as f:
    for node in f:
        print(node)
        
#     for node in f.walk_groups():
#         print(node)

/ (RootGroup) ''
/array_1d (Array(10,)) 'A one-dimensional Array'
/multidimensional_data (Group) 'Multi dimensional data'
/multidimensional_data/array_2d (Array(10, 3)) 'A two-dimensional Array'
/multidimensional_data/array_3d (Array(10, 3, 5)) 'A three-dimensional Array'

### Select a hyperslab of data

Hyperslabs are portions of datasets. A hyperslab selection can be a logically contiguous collection of points in a dataspace, or it can be regular pattern of points or blocks in a dataspace.

In [15]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    print(repr(f.root.multidimensional_data.array_3d[2:7, 1, :]))

array([[0.27, 0.75, 0.73, 0.45, 0.57],
       [0.18, 0.83, 0.97, 0.97, 0.29],
       [0.56, 0.89, 0.91, 0.39, 0.57],
       [0.66, 0.44, 0.17, 0.75, 0.68],
       [0.73, 0.32, 0.75, 0.2 , 0.88]], dtype=float32)

### HDF5 CLI utils

[Here](https://support.hdfgroup.org/products/hdf5_tools/#h5dist) you can find the command line tools developed by the HDF Group. You don't need h5py or PyTables to use them.

If you are on Ubuntu, you can install them with `sudo apt install hdf5-tools`

In [16]:
# -r stands for 'recursive'
!h5ls -r 'data/my_pytables_file.h5'

/                        Group
/array_1d                Dataset {10}
/multidimensional_data   Group
/multidimensional_data/array_2d Dataset {10, 3}
/multidimensional_data/array_3d Dataset {10, 3, 5}

In [17]:
!h5dump 'data/my_pytables_file.h5'

HDF5 "data/my_pytables_file.h5" {
GROUP "/" {
   ATTRIBUTE "CLASS" {
      DATATYPE  H5T_STRING {
         STRSIZE 5;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "GROUP"
      }
   }
   ATTRIBUTE "PYTABLES_FORMAT_VERSION" {
      DATATYPE  H5T_STRING {
         STRSIZE 3;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "2.1"
      }
   }
   ATTRIBUTE "TITLE" {
      DATATYPE  H5T_STRING {
         STRSIZE 1;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  NULL
      DATA {
      }
   }
   ATTRIBUTE "VERSION" {
      DATATYPE  H5T_STRING {
         STRSIZE 3;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_UTF8;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SCALAR
      DATA {
      (0): "1.0"
      }
   }
   DATASET "array_1d" {
      DATATYPE  H5T_STD_I8LE
      DATASPACE  SIMPLE { ( 10 ) / ( 10 ) }
      DATA {
      (0): 0, 11, 22, 33, 44, 55, 66, 77, 88, 100
      }
      ATTRIBUTE "CLASS" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "ARRAY"
         }
      }
      ATTRIBUTE "FLAVOR" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "numpy"
         }
      }
      ATTRIBUTE "SomeAttribute" {
         DATATYPE  H5T_STRING {
            STRSIZE 9;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "SomeValue"
         }
      }
      ATTRIBUTE "TITLE" {
         DATATYPE  H5T_STRING {
            STRSIZE 23;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "A one-dimensional Array"
         }
      }
      ATTRIBUTE "VERSION" {
         DATATYPE  H5T_STRING {
            STRSIZE 3;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "2.4"
         }
      }
   }
   GROUP "multidimensional_data" {
      ATTRIBUTE "CLASS" {
         DATATYPE  H5T_STRING {
            STRSIZE 5;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "GROUP"
         }
      }
      ATTRIBUTE "SomeOtherAttribute" {
         DATATYPE  H5T_STD_I64LE
         DATASPACE  SCALAR
         DATA {
         (0): 123
         }
      }
      ATTRIBUTE "TITLE" {
         DATATYPE  H5T_STRING {
            STRSIZE 22;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "Multi dimensional data"
         }
      }
      ATTRIBUTE "VERSION" {
         DATATYPE  H5T_STRING {
            STRSIZE 3;
            STRPAD H5T_STR_NULLTERM;
            CSET H5T_CSET_UTF8;
            CTYPE H5T_C_S1;
         }
         DATASPACE  SCALAR
         DATA {
         (0): "1.0"
         }
      }
      DATASET "array_2d" {
         DATATYPE  H5T_IEEE_F32LE
         DATASPACE  SIMPLE { ( 10, 3 ) / ( 10, 3 ) }
         DATA {
         (0,0): 0, 1, 2,
         (1,0): 3, 4, 5,
         (2,0): 6, 7, 8,
         (3,0): 9, 10, 11,
         (4,0): 12, 13, 14,
         (5,0): 15, 16, 17,
         (6,0): 18, 19, 20,
         (7,0): 21, 22, 23,
         (8,0): 24, 25, 26,
         (9,0): 27, 28, 29
         }
         ATTRIBUTE "CLASS" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "ARRAY"
            }
         }
         ATTRIBUTE "FLAVOR" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "numpy"
            }
         }
         ATTRIBUTE "TITLE" {
            DATATYPE  H5T_STRING {
               STRSIZE 23;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "A two-dimensional Array"
            }
         }
         ATTRIBUTE "VERSION" {
            DATATYPE  H5T_STRING {
               STRSIZE 3;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "2.4"
            }
         }
      }
      DATASET "array_3d" {
         DATATYPE  H5T_IEEE_F32LE
         DATASPACE  SIMPLE { ( 10, 3, 5 ) / ( 10, 3, 5 ) }
         DATA {
         (0,0,0): 0.651054, 0.203473, 0.76715, 0.754822, 0.150066,
         (0,1,0): 0.0166869, 0.430313, 0.938833, 0.846353, 0.187046,
         (0,2,0): 0.833228, 0.748101, 0.136205, 0.697529, 0.602783,
         (1,0,0): 0.301065, 0.985873, 0.660554, 0.923144, 0.945646,
         (1,1,0): 0.473722, 0.745835, 0.252621, 0.883541, 0.915429,
         (1,2,0): 0.569132, 0.790431, 0.375851, 0.268027, 0.792952,
         (2,0,0): 0.42149, 0.142072, 0.792779, 0.350524, 0.519324,
         (2,1,0): 0.270472, 0.747149, 0.725253, 0.454299, 0.569048,
         (2,2,0): 0.034787, 0.683252, 0.57043, 0.0145624, 0.74159,
         (3,0,0): 0.867181, 0.796515, 0.844257, 0.894978, 0.368424,
         (3,1,0): 0.180003, 0.828618, 0.965205, 0.973209, 0.292117,
         (3,2,0): 0.0121153, 0.692925, 0.958373, 0.415097, 0.882824,
         (4,0,0): 0.194786, 0.637267, 0.380018, 0.948904, 0.134642,
         (4,1,0): 0.56174, 0.891152, 0.905139, 0.389935, 0.571003,
         (4,2,0): 0.852142, 0.769433, 0.516122, 0.637583, 0.318067,
         (5,0,0): 0.758356, 0.407022, 0.722664, 0.937639, 0.452717,
         (5,1,0): 0.663727, 0.441294, 0.171062, 0.754664, 0.679839,
         (5,2,0): 0.0589, 0.861769, 0.63796, 0.625194, 0.815193,
         (6,0,0): 0.0674669, 0.410006, 0.207458, 0.0664275, 0.227123,
         (6,1,0): 0.729849, 0.316929, 0.746425, 0.204735, 0.878665,
         (6,2,0): 0.649986, 0.963094, 0.273682, 0.701022, 0.446576,
         (7,0,0): 0.404871, 0.738611, 0.7253, 0.962564, 0.9315,
         (7,1,0): 0.0759674, 0.943758, 0.778156, 0.401737, 0.770077,
         (7,2,0): 0.224857, 0.439172, 0.665697, 0.608539, 0.980204,
         (8,0,0): 0.427103, 0.0169902, 0.383055, 0.186237, 0.915043,
         (8,1,0): 0.559313, 0.168798, 0.178553, 0.167685, 0.407339,
         (8,2,0): 0.0627045, 0.997136, 0.514836, 0.352926, 0.227033,
         (9,0,0): 0.79748, 0.993651, 0.0602211, 0.732689, 0.220633,
         (9,1,0): 0.0433302, 0.649763, 0.137205, 0.852899, 0.00370532,
         (9,2,0): 0.682113, 0.929581, 0.764799, 0.676395, 0.395971
         }
         ATTRIBUTE "CLASS" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "ARRAY"
            }
         }
         ATTRIBUTE "FLAVOR" {
            DATATYPE  H5T_STRING {
               STRSIZE 5;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "numpy"
            }
         }
         ATTRIBUTE "TITLE" {
            DATATYPE  H5T_STRING {
               STRSIZE 25;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "A three-dimensional Array"
            }
         }
         ATTRIBUTE "VERSION" {
            DATATYPE  H5T_STRING {
               STRSIZE 3;
               STRPAD H5T_STR_NULLTERM;
               CSET H5T_CSET_UTF8;
               CTYPE H5T_C_S1;
            }
            DATASPACE  SCALAR
            DATA {
            (0): "2.4"
            }
         }
      }
   }
}
}

### PyTables CLI utils

Some very useful tools are shipped with PyTables. These are just python scripts that can be used from the command line.

In [18]:
# -a show attributes, -v verbose
!ptdump -av 'data/my_pytables_file.h5'

/ (RootGroup) ''
  /._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'GROUP',
    PYTABLES_FORMAT_VERSION := '2.1',
    TITLE := '',
    VERSION := '1.0']
/array_1d (Array(10,)) 'A one-dimensional Array'
  atom := Int8Atom(shape=(), dflt=0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'irrelevant'
  chunkshape := None
  /array_1d._v_attrs (AttributeSet), 5 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    SomeAttribute := 'SomeValue',
    TITLE := 'A one-dimensional Array',
    VERSION := '2.4']
/multidimensional_data (Group) 'Multi dimensional data'
  /multidimensional_data._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'GROUP',
    SomeOtherAttribute := 123,
    TITLE := 'Multi dimensional data',
    VERSION := '1.0']
/multidimensional_data/array_2d (Array(10, 3)) 'A two-dimensional Array'
  atom := Float32Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := None
  /multidimensional_data/array_2d._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    TITLE := 'A two-dimensional Array',
    VERSION := '2.4']
/multidimensional_data/array_3d (Array(10, 3, 5)) 'A three-dimensional Array'
  atom := Float32Atom(shape=(), dflt=0.0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'little'
  chunkshape := None
  /multidimensional_data/array_3d._v_attrs (AttributeSet), 4 attributes:
   [CLASS := 'ARRAY',
    FLAVOR := 'numpy',
    TITLE := 'A three-dimensional Array',
    VERSION := '2.4']

In [19]:
!pttree -L 2 --use-si-units --sort-by 'size' 'data/my_pytables_file.h5'

------------------------------------------------------------

/ (RootGroup)
+--multidimensional_data (Group)
|  +--array_3d (Array)
|  |     mem=600.0B, disk=600.0B [82.2%]
|  `--array_2d (Array)
|        mem=120.0B, disk=120.0B [16.4%]
`--array_1d (Array)
      mem=10.0B, disk=10.0B [ 1.4%]

------------------------------------------------------------
Total branch leaves:    3
Total branch size:      730.0B in memory, 730.0B on disk
Mean compression ratio: 1.00
HDF5 file size:         6.0kB
------------------------------------------------------------

### HDF5 Viewers

- [HDFView](https://support.hdfgroup.org/products/java/hdfview/): I like it!
- [HDF Compass](https://support.hdfgroup.org/projects/compass/): seems to be the go-to choice for Mac users
- [ViTables](http://vitables.org/): a bit weird... indexing starts at 1

> Remember when I said "let's forget HDF5 datasets for a moment"?

> Here is why...

### PyTables provides high-level abstractions over the HDF5 Dataset

Homogenous dataset:

- **Array**
- **CArray**
- **EArray**
- **VLArray**

Heterogenous dataset:

- **Table**

*Note*: some HDF5 libraries/tools could create a HDF5 dataset currently not supported by PyTables. In this case the dataset will be mapped into an [UnImplemented](http://www.pytables.org/usersguide/libref/helper_classes.html#tables.UnImplemented) class instance.

### Wait! What is a *Homogeneous* dataset?

A homogeneous dataset is a dataset where all its elements have the same [Atom](http://www.pytables.org/usersguide/libref/declarative_classes.html#atomclassdescr).

An Atom represents the **type and shape** of the atomic objects to be saved.

It's the most basic, indivisible element that can be stored in a given dataset.

In [20]:
atom = tb.UInt8Atom(shape=(2,))
atom

UInt8Atom(shape=(2,), dflt=0)

### Array

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#the-array-class)

An Array contains homogeneous data. Every atomic object (i.e. every single element) has the same type and shape.

- Fastest I/O speed
- Must fit in memory
- Not compressible
- Not enlargeable (i.e. no append)

In [21]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_array(where='/', 
                   name='array_1d',
                   title='A one-dimensional Array',
                   obj=[0, 1, 2, 3])

### CArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#carrayclassdescr)

- Chunked layout, compressible
- Not enlargeable

In [22]:
filters = tb.Filters(complevel=5, complib='zlib')

Tips on how to use compression (from the PyTables docs)

- A mid-level (5) compression is sufficient. No need to go all the way up (9)
- Use zlib if you must guarantee complete portability
- Use blosc all other times (it is optimized for HDF5)

In [23]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.create_carray(
        where='/',
        name='my_carray',
        title='My PyTables CArray',
        obj=arr2d,
        filters=filters)

### EArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#earrayclassdescr)

- Enlargeable on **one** dimension (append)

In [24]:
# One (and only one) of the shape dimensions *must* be 0.
# The dimension being 0 means that the resulting EArray object can be extended along it.
# Multiple enlargeable dimensions are not supported (at the moment).
num_columns = 5
shape = (0, num_columns)

with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    # you can create an EArray and fill it later, but you need to specify atom and shape
    f.create_earray(
        where='/',
        name='my_earray',
        title='My PyTables EArray',
        atom=tb.Float32Atom(),
        shape=shape,
        filters=filters)

In [25]:
num_rows = 1000000  # 1 million
matrix = np.random.random((num_rows, num_columns)).astype('float32')

In [26]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    earray = f.root.my_earray
    earray.append(sequence=matrix[0:1000, :])

In [27]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    earray = f.root.my_earray
    earray.append(sequence=matrix[1001:5000, :])

### VLArray

[Docs](http://www.pytables.org/usersguide/libref/homogenous_storage.html#the-vlarray-class)

- Each row has a variable number of homogeneous elements (atoms)

In [28]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    vlarray = f.create_vlarray(where='/',
                               name='my_vlarray',
                               atom=atom,
                               title='Variable length array of vectors')
    vlarray.append([[0, 1]])
    vlarray.append([[2, 3], [4, 5], [6, 7]])
    vlarray.append([[8, 9]])

### Table

[Docs](http://www.pytables.org/usersguide/libref/structured_storage.html?highlight=table#tableclassdescr)

- Data can be heterogeneous (i.e. different shapes and different dtypes)
- The structure of a table is declared by its [description](http://www.pytables.org/usersguide/libref/declarative_classes.html#tables.IsDescription)
- multi-column searches

In order to emulate in Python records mapped to HDF5 C structs PyTables implements a special class so as to easily define all its fields and other properties. It's called `IsDescription`.

A *description* defines the table structure (basically, the *schema* of your table).

### Example: NYC yellow taxi dataset

[Taxi & Limousine Commission Trip Record Data](http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml)

In [29]:
!less 'data/taxi+_zone_lookup.csv'

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"
10,"Queens","Baisley Park","Boro Zone"
11,"Brooklyn","Bath Beach","Boro Zone"
12,"Manhattan","Battery Park","Yellow Zone"
13,"Manhattan","Battery Park City","Yellow Zone"
14,"Brooklyn","Bay Ridge","Boro Zone"
15,"Queens","Bay Terrace/Fort Totten","Boro Zone"
16,"Queens","Bayside","Boro Zone"
17,"Brooklyn","Bedford","Boro Zone"
18,"Bronx","Bedford Park","Boro Zone"
19,"Queens","Bellerose","Boro Zone"
20,"Bronx","Belmont","Boro Zone"
21,"Brooklyn","Bensonhurst East","Boro Zone"
22,"Brooklyn","Bensonhurst West","Boro Zone"
:a/taxi+_zone_lookup.csv

In [30]:
!less 'data/yellow_tripdata_2017-12.csv'

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount

1,2017-12-01 00:12:00,2017-12-01 00:12:51,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:14:15,2017-12-01 00:15:05,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:15:33,2017-12-01 00:15:37,1,.00,1,N,226,226,3,2.5,0.5,0.5,0,0,0.3,3.8
1,2017-12-01 00:50:03,2017-12-01 00:53:35,1,.00,1,N,145,145,2,4,0.5,0.5,0,0,0.3,5.3
1,2017-12-01 00:14:20,2017-12-01 00:28:35,1,4.20,1,N,82,258,2,15,0.5,0.5,0,0,0.3,16.3
1,2017-12-01 00:20:32,2017-12-01 00:31:24,1,5.40,1,N,50,116,2,17,0.5,0.5,0,0,0.3,18.3
1,2017-12-01 00:01:46,2017-12-01 00:12:19,1,1.90,1,N,161,107,1,9,0.5,0.5,2.05,0,0.3,12.35
1,2017-12-01 00:17:52,2017-12-01 00:32:35,1,3.30,1,N,107,263,1,12.5,0.5,0.5,2.07,0,0.3,15.87
:12-01 00:10:00,2017-12-01 00:24:35,1,2.80,1,N,264,87,1,12,0.5,0.5,2.65,0,data/yellow_tripdata_2017-12.csv

Define a description object to pass to the `Table` constructor. The information it contains will be used to define the table structure.

In [31]:
class TaxiTableDescription(tb.IsDescription):
    vendor_id = tb.UInt8Col(pos=0)
    pickup_timestamp_ms = tb.Int64Col()
    dropoff_timestamp_ms = tb.Int64Col()
    passenger_count = tb.UInt8Col()
    trip_distance = tb.Float32Col()
    pickup_location_id = tb.UInt16Col()
    dropoff_location_id = tb.UInt16Col()
    payment_type = tb.UInt8Col()
    fare_amount = tb.Float32Col()
    tip_amount = tb.Float32Col()
    total_amount = tb.Float32Col()

HDF5 is *self-describing*: you can store the data dictionary as metadata. No need for external files.

In [32]:
# data dictionary for NY yellow taxi CSV files
# http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf
data_dictionary = {
    'VendorID': 'A code indicating the TPEP provider that provided the record',
    'tpep_pickup_datetime': 'The date and time when the meter was engaged ',
    'tpep_dropoff_datetime': 'The date and time when the meter was disengaged ',
    'passenger_count': 'The number of passengers in the vehicle',
    'trip_distance': 'The elapsed trip distance in miles reported by the taximeter',
    'PULocationID': 'A code indicating the zone + borough of th pickup location',
    'DOLocationID': 'A code indicating the zone + borough of th dropoff location',
    'payment_type': 'A numeric code signifying how the passenger paid for the trip',
    'fare_amount': 'The time-and-distance fare calculated by the meter',
    'tip_amount': 'Tip amount – This field is automatically populated for credit card tips. Cash tips are not included',
    'total_amount': 'The total amount charged to passengers. Does not include cash tips',
}

In [33]:
h5_file_path = os.path.join(data_dir, 'NYC-yellow-taxis-100k.h5')
print(h5_file_path)

/home/jack/Repos/hdf5-pycon-slovakia/data/NYC-yellow-taxis-100k.h5

In [34]:
filters = tb.Filters(complevel=5, complib='zlib')

with tb.open_file(filename=h5_file_path, mode='w') as f:
    # create table with pre-defined schema
    f.create_table(
        where='/',
        name='yellow_taxis_2017_12',
        description=TaxiTableDescription,
        title='NYC Yellow Taxi data December 2017',
        filters=filters)
    # add metadata
    table_where = '/yellow_taxis_2017_12'
    for key, val in data_dictionary.items():
        f.set_node_attr(where=table_where, attrname=key, attrvalue=val)

In [35]:
!ptdump 'data/NYC-yellow-taxis-100k.h5'  # try also h5dump

/ (RootGroup) ''
/yellow_taxis_2017_12 (Table(0,), shuffle, zlib(5)) 'NYC Yellow Taxi data December 2017'

In [36]:
def date_to_timestamp_ms(date_obj):
    timestamp_in_nanoseconds = date_obj.astype('int64')
    timestamp_in_ms = (timestamp_in_nanoseconds / 1000000).astype('int64')
    return timestamp_in_ms

def fill_table(table, mapping, df):
    num_records = df.shape[0]  # it's equal to the chunksize used in read_csv
    row = table.row
    for i in range(num_records):
        row['vendor_id'] = df[mapping['vendor_id']].values[i]

        pickup_ms = date_to_timestamp_ms(df[mapping['pickup_datetime']].values[i])
        row['pickup_timestamp_ms'] = pickup_ms
        dropoff_ms = date_to_timestamp_ms(df[mapping['dropoff_datetime']].values[i])
        row['dropoff_timestamp_ms'] = dropoff_ms

        row['passenger_count'] = df['passenger_count'].values[i]
        row['trip_distance'] = df['trip_distance'].values[i]

        row['pickup_location_id'] = df['PULocationID'].values[i]
        row['dropoff_location_id'] = df['DOLocationID'].values[i]

        row['fare_amount'] = df['fare_amount'].values[i]
        row['tip_amount'] = df['tip_amount'].values[i]
        row['total_amount'] = df['total_amount'].values[i]

        row['payment_type'] = df['payment_type'].values[i]
        row.append()
    table.flush()

*Remember to flush:* Remember, flushing a table is a very important step as it will not only help to maintain the integrity of your file, but also will free valuable memory resources (i.e. internal buffers) that your program may need for other things.

In [37]:
%%time
# Open the HDF5 file in 'a'ppend mode and populate the table with CSV data
with tb.open_file(filename=h5_file_path, mode='a') as f:
    # Left, the key we want to use. Right, the key in the CSV file
    mapping = {
        'vendor_id': 'VendorID',
        'pickup_datetime': 'tpep_pickup_datetime',
        'dropoff_datetime': 'tpep_dropoff_datetime',
        'pickup_location_id': 'PULocationID',
        'dropoff_location_id': 'DOLocationID'
    }

    # define the dtype to use when reading the CSV with pandas (this has nothing to do with the HDF5 table)
    dtype = {'VendorID': 'category', 'payment_type': 'category'}
    parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']

    table = f.get_node(where='/yellow_taxis_2017_12')
 
    csv_file_path = os.path.join(data_dir, 'yellow_tripdata_2017-12.csv')

    # read in chunks because these CSV files are too big
    chunksize = 100000
    for chunk in pd.read_csv(
        csv_file_path, chunksize=chunksize, dtype=dtype,
        skipinitialspace=True, parse_dates=parse_dates):
        df = chunk.reset_index(drop=True)
        fill_table(table, mapping, df)
        # remove the break statement to process all chunks (it will take ~20 minutes)
        break

CPU times: user 10 s, sys: 8 ms, total: 10 s
Wall time: 10.3 s

In [38]:
!pttree --use-si-units --sort-by 'size' 'data/NYC-yellow-taxis-100k.h5'

------------------------------------------------------------

/ (RootGroup)
`--yellow_taxis_2017_12 (Table)
      mem=3.9MB, disk=1.8MB [100.0%]

------------------------------------------------------------
Total branch leaves:    1
Total branch size:      3.9MB in memory, 1.8MB on disk
Mean compression ratio: 0.45
HDF5 file size:         1.8MB
------------------------------------------------------------

### Expressions with NumExpr

[NumExpr](https://github.com/pydata/numexpr) is an expression evaluator for NumPy.

- Parses expressions into its own bytecode that is then used by an integrated computing virtual machine written in C
- Processes chunks of elements at a time.
- The compilation step has some overhead, so NumExpr achieves better speedups with large arrays.

In [39]:
num_elements = 1000000  # 1 million
x = np.random.uniform(low=1, high=5, size=num_elements).astype('float32')

In [42]:
%%time
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    carray = f.create_carray(where='/', name='carray_without_numexpr', atom=tb.Float32Atom(), shape=x.shape)
    carray[:] = x**3 + 0.5*x**2 - x

CPU times: user 112 ms, sys: 20 ms, total: 132 ms
Wall time: 136 ms

In [43]:
%%time
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    carray = f.create_carray(where='/', name='carray_with_numexpr', atom=tb.Float32Atom(), shape=x.shape)
    ex = tb.Expr('x**3 + 0.5*x**2 - x')
    ex.set_output(carray) # output will got to the CArray on disk
    ex.eval()

CPU times: user 16 ms, sys: 24 ms, total: 40 ms
Wall time: 37.4 ms

### Searches

`tables.Table.read` reads the **entire table** (it must fit into memory) and queries it with NumPy.

In [44]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.read()
    amounts = [row['total_amount'] for row in rows if row['passenger_count'] == 1]
    
print(len(amounts))

74411
CPU times: user 572 ms, sys: 0 ns, total: 572 ms
Wall time: 570 ms

`tables.Table.iterrows` returns an **iterator** that iterates over all rows (so no need to load the entire table into memory).

In [45]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.iterrows()
    amounts = [row['total_amount'] for row in rows if row['passenger_count'] == 1]
    
print(len(amounts))

74411
CPU times: user 64 ms, sys: 0 ns, total: 64 ms
Wall time: 61.6 ms

`tables.Table.read_where` uses **NumExpr** to make a **in-kernel** query.

It gets all the rows which fulfill the given condition and packs them in a single container, like `tables.Table.read`.

In [46]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.read_where('passenger_count == 1')
    amounts = [x['total_amount'] for x in rows]
    
print(len(amounts))

74411
CPU times: user 400 ms, sys: 8 ms, total: 408 ms
Wall time: 408 ms

`tables.Table.where` uses **NumExpr** to make a **in-kernel** query.

It iterates over the rows in a table which fulfill the given condition, like `tables.Table.iterrows`.

In [47]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.where('passenger_count == 1')
    amounts = [x['total_amount'] for x in rows]
    
print(len(amounts))

74411
CPU times: user 60 ms, sys: 4 ms, total: 64 ms
Wall time: 62 ms

*Note*: you might think that `tables.Table.where` is always the fastest solution. This is not necessarily true.

### Indexes

Indexing affects only `tables.Table.where` and `tables.Table.read_where`.

Here is why:

- With `tables.Table.read` and `tables.Table.iterrows` the condition is evaluated in Python.

- With `tables.Table.where` and `tables.Table.read_where` the condition is passed to the PyTables kernel (hence the name), written in C, and evaluated there at full C speed (with NumExpr). The only values that are brought to the Python space are the rows that fulfilled the condition.

In [54]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='a') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    table.cols.trip_distance.create_index()
    table.cols.passenger_count.create_index()

CPU times: user 116 ms, sys: 16 ms, total: 132 ms
Wall time: 138 ms

In [57]:
!h5ls -r 'data/NYC-yellow-taxis-100k.h5'

/                        Group
/_i_yellow_taxis_2017_12 Group
/_i_yellow_taxis_2017_12/passenger_count Group
/_i_yellow_taxis_2017_12/passenger_count/abounds Dataset {0/Inf}
/_i_yellow_taxis_2017_12/passenger_count/bounds Dataset {0/Inf, 127}
/_i_yellow_taxis_2017_12/passenger_count/indices Dataset {0/Inf, 131072}
/_i_yellow_taxis_2017_12/passenger_count/indicesLR Dataset {131072}
/_i_yellow_taxis_2017_12/passenger_count/mbounds Dataset {0/Inf}
/_i_yellow_taxis_2017_12/passenger_count/mranges Dataset {0/Inf}
/_i_yellow_taxis_2017_12/passenger_count/ranges Dataset {0/Inf, 2}
/_i_yellow_taxis_2017_12/passenger_count/sorted Dataset {0/Inf, 131072}
/_i_yellow_taxis_2017_12/passenger_count/sortedLR Dataset {131201}
/_i_yellow_taxis_2017_12/passenger_count/zbounds Dataset {0/Inf}
/_i_yellow_taxis_2017_12/trip_distance Group
/_i_yellow_taxis_2017_12/trip_distance/abounds Dataset {0/Inf}
/_i_yellow_taxis_2017_12/trip_distance/bounds Dataset {0/Inf, 127}
/_i_yellow_taxis_2017_12/trip_distance/indices Dataset {0/Inf, 131072}
/_i_yellow_taxis_2017_12/trip_distance/indicesLR Dataset {131072}
/_i_yellow_taxis_2017_12/trip_distance/mbounds Dataset {0/Inf}
/_i_yellow_taxis_2017_12/trip_distance/mranges Dataset {0/Inf}
/_i_yellow_taxis_2017_12/trip_distance/ranges Dataset {0/Inf, 2}
/_i_yellow_taxis_2017_12/trip_distance/sorted Dataset {0/Inf, 131072}
/_i_yellow_taxis_2017_12/trip_distance/sortedLR Dataset {131201}
/_i_yellow_taxis_2017_12/trip_distance/zbounds Dataset {0/Inf}
/yellow_taxis_2017_12    Dataset {100000/Inf}

![Indices created with PyTables](img/indices.png)

### Index performance

Indexing works best when there is only a **small subset of the total data set** that you are querying for (see [this answer](https://stackoverflow.com/questions/20769818/search-with-index-is-slower-than-without-index-in-pytables-when-the-result-is-la/20789807#20789807)).

In [58]:
%%timeit
# with index
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.where('(passenger_count == 1) | (passenger_count == 3)')
    amounts = [x['total_amount'] for x in rows]

74 ms ± 6.93 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [59]:
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='a') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    table.cols.trip_distance.remove_index()
    table.cols.passenger_count.remove_index()

In [60]:
!h5ls -r 'data/NYC-yellow-taxis-100k.h5'

/                        Group
/_i_yellow_taxis_2017_12 Group
/yellow_taxis_2017_12    Dataset {100000/Inf}

In [61]:
%%timeit
# without index
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='r') as f:
    table = f.get_node(where='/yellow_taxis_2017_12')
    rows = table.where('(passenger_count == 1) | (passenger_count == 3)')
    amounts = [x['total_amount'] for x in rows]

58.3 ms ± 12.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Index performance on a big dataset

It's hard to see any meaningful difference with such a small table (100k records). Let's see a bigger one (>10M records).

*Note*: this dataset already contains indexes for the searches I am about to perform.

In [62]:
%%time
broad_condition = 'passenger_count < 4'

with tb.open_file(filename='data/NYC-yellow-taxis-2015.h5', mode='r') as f:
    table = f.get_node(where='/yellow_2015_01')
    rows = table.where(broad_condition)
    amounts = [x['total_amount'] for x in rows]
    
print(len(amounts))

11343515
CPU times: user 12.2 s, sys: 1.32 s, total: 13.5 s
Wall time: 13.9 s

In [63]:
%%time
strict_condition = '(passenger_count == 3) & (trip_distance > 30)'

with tb.open_file(filename='data/NYC-yellow-taxis-2015.h5', mode='r') as f:
    table = f.get_node(where='/yellow_2015_01')
    rows = table.where(strict_condition)
    amounts = [x['total_amount'] for x in rows]
    
print(len(amounts))

163
CPU times: user 2.38 s, sys: 88 ms, total: 2.47 s
Wall time: 2.61 s

### Deleting an index takes almost no time

In [64]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-2015.h5', mode='a') as f:
    table = f.get_node(where='/yellow_2015_01')
    table.cols.trip_distance.remove_index()
    table.cols.passenger_count.remove_index()

CPU times: user 68 ms, sys: 12 ms, total: 80 ms
Wall time: 634 ms

*Note*: re-execute the cells with the `broad_condition` and the `strict_condition` and compare the times.

### Creating an index takes time

In [65]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-2015.h5', mode='a') as f:
    table = f.get_node(where='/yellow_2015_01')
    table.cols.trip_distance.create_index()
    table.cols.passenger_count.create_index()

CPU times: user 25.7 s, sys: 1.58 s, total: 27.3 s
Wall time: 27.3 s

### Links

- [hard link](http://www.pytables.org/usersguide/libref/file_class.html#tables.File.create_hard_link)
- symbolic links
  - [soft link](http://www.pytables.org/usersguide/libref/file_class.html#tables.File.create_soft_link)
  - [external link](http://www.pytables.org/usersguide/libref/file_class.html#tables.File.create_external_link)

You can perform several [operations](http://www.pytables.org/usersguide/libref/link_classes.html#link-methods) on a link:

- copy
- move
- remove
- rename

### Hard links

In [66]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    gr1 = f.create_group(where='/', name='gr1') 
    gr2 = f.create_group(where=f.root.gr1, name='gr2')
    f.create_array(where='/gr1/gr2',  name='some_array', obj=[0, 1, 2, 3])
    
    f.create_hard_link(where='/', name='hard_link', target='/gr1/gr2/some_array')

In [67]:
!h5ls -r 'data/my_pytables_file.h5'

/                        Group
/gr1                     Group
/gr1/gr2                 Group
/gr1/gr2/some_array      Dataset {4}
/hard_link               Dataset, same as /gr1/gr2/some_array

In [68]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    f.remove_node(where=f.root.gr1.gr2, name='some_array')

In [69]:
!h5ls -r 'data/my_pytables_file.h5'

/                        Group
/gr1                     Group
/gr1/gr2                 Group
/hard_link               Dataset {4}

Even if the original array is gone, the data is still accessible.

In [70]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    print(f.root.hard_link[:])

[0, 1, 2, 3]

### Soft links

In [71]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    gr1 = f.create_group(where='/', name='gr1') 
    gr2 = f.create_group(where=f.root.gr1, name='gr2')
    f.create_array(where='/gr1/gr2',  name='some_array', obj=[0, 1, 2, 3])
    
    soft_link = f.create_soft_link(where='/', name='soft_link', target='/gr1/gr2/some_array')
    
    # 'soft_link' points to 'some_array'
    print(soft_link.target)

/gr1/gr2/some_array

You can create soft links to nodes which do not exist (dangling links).

In [72]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    dangling_link = f.create_soft_link(where='/',
                                       name='dangling_link',
                                       target='/gr1/gr2/gr3/some_not_yet_existing_array')
    print(dangling_link.target)

/gr1/gr2/gr3/some_not_yet_existing_array

Obviously if you try to access some node which does not exist you get an error.

In [73]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    print(f.root.dangling_link[...])

NoSuchNodeError: group ``/`` does not have a child named ``/gr1/gr2/gr3/some_not_yet_existing_array``

In [74]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    f.create_array(where='/gr1/gr2/gr3',
                   name='some_not_yet_existing_array',
                   obj=[4, 5, 6, 7],
                   createparents=True)

Now the path to the node exists, so the soft link is no longer dangling.

In [75]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='r') as f:
    print(f.root.dangling_link[...])
    print(f.root.dangling_link.is_dangling())

[4, 5, 6, 7]
False

### External links

In [76]:
with tb.open_file(filename='data/file1.h5', mode='w') as f:
    f.create_array(where='/',  name='array1', obj=[0, 1, 2, 3])

In [77]:
!h5ls 'data/file1.h5'

array1                   Dataset {4}

In [78]:
with tb.open_file(filename='data/file2.h5', mode='w') as f:
    f.create_array(where='/',  name='array2', obj=[4, 5, 6, 7])

In [79]:
path_to_array1 = '{f1path}:/array1'.format(f1path=os.path.abspath(os.path.join(data_dir, 'file1.h5')))
path_to_array2 = '{f2path}:/array2'.format(f2path=os.path.abspath(os.path.join(data_dir, 'file2.h5')))
print(path_to_array1)
print(path_to_array2)

/home/jack/Repos/hdf5-pycon-slovakia/data/file1.h5:/array1
/home/jack/Repos/hdf5-pycon-slovakia/data/file2.h5:/array2

In [80]:
with tb.open_file('data/file1.h5', mode='a') as f1, tb.open_file('data/file2.h5', mode='a') as f2:
    f1.create_external_link(where='/', name='external_link_to_array2', target=path_to_array1)
    f2.create_external_link(where='/', name='external_link_to_array1', target=path_to_array2)

In [81]:
!h5ls 'data/file1.h5'

array1                   Dataset {4}
external_link_to_array2  External Link {/home/jack/Repos/hdf5-pycon-slovakia/data/file1.h5//array1}

### Transactions: mark, undo, redo, goto

Set a snaphot of the current state of the HDF5 file with `File.mark()`.

There are two implicit marks which are always available: the initial mark (0) and the final mark (-1).

*Note*: I personally find the method name `undo` a bit misleading:

- when a mark `name` is specified, `undo` returns to the snapshot marked as `'after b'`)
- when a mark `name` is not specified, undo rollbacks the last transaction

In [82]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='w') as f:
    f.enable_undo()
    
    f.create_array(where='/', name='array_a', title='Array A', obj=[1, 2, 3])
    f.mark(name='after a')
    
    f.create_array(where='/', name='array_b', title='Array B', obj=[4, 5, 6])
    f.mark(name='after b')
    
    f.create_array(where='/', name='array_c', title='Array C', obj=[7, 8, 9])
    f.mark(name='after c')

![Transaction action log](img/action_log.png)

In [83]:
!h5ls 'data/my_pytables_file.h5'

_p_transactions          Group
array_a                  Dataset {3}
array_b                  Dataset {3}
array_c                  Dataset {3}

In [84]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    current_mark = f.get_current_mark()
    
current_mark

3

In [85]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    f.undo(mark='after b')

In [86]:
!h5ls 'data/my_pytables_file.h5'

_p_transactions          Group
array_a                  Dataset {3}
array_b                  Dataset {3}

In [87]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    f.redo()

In [88]:
!h5ls 'data/my_pytables_file.h5'

_p_transactions          Group
array_a                  Dataset {3}
array_b                  Dataset {3}
array_c                  Dataset {3}

In [89]:
with tb.open_file(filename='data/my_pytables_file.h5', mode='a') as f:
    f.goto(mark='after a')

In [90]:
!h5ls 'data/my_pytables_file.h5'

_p_transactions          Group
array_a                  Dataset {3}

### Migrations

You have to create a new table and copy the original data. See [this answer](https://stackoverflow.com/a/19470951).

In [91]:
%%time
with tb.open_file(filename='data/NYC-yellow-taxis-100k.h5', mode='a') as f:
    table = f.get_node('/yellow_taxis_2017_12')
    
    # Prepare the new schema
    d1 = table.description._v_colobjects
    d2 = d1.copy()
    d2['new_field'] = tb.UInt64Col(dflt=123)
    
    # Create a new table    
    table2 = f.create_table(where='/', name='table2', description=d2, title='New Table')
    
    # Copy the attributes of the original table
    table.attrs._f_copy(table2)
    
    # Fill the rows of the new table with default values
    for i in range(table.nrows):
        table2.row.append()

    # Commit changes to disk
    table2.flush()

    # Copy the columns of the original table to the new table
    for col in d1:
        getattr(table2.cols, col)[:] = getattr(table.cols, col)[:]
        
    table2.flush()

    # Fill the new column
    table2.cols.new_field[:] = [x for x in range(table2.nrows)]
    
    # Cleanup
    table.remove()
    table2.move(newparent='/', newname='yellow_taxis_2017_12')

CPU times: user 444 ms, sys: 232 ms, total: 676 ms
Wall time: 685 ms

### Resources

- [Introduction to HDF5](https://www.youtube.com/watch?v=BAjsCldRMMc) by Quincey Koziol
- [HDF5 take 2 - h5py & PyTables](https://www.youtube.com/watch?v=ofLFhQ9yxCw) by Tom Kooij
- [PyTables documentation](http://www.pytables.org/usersguide/index.html)
- [The starving CPU problem](https://python.g-node.org/python-summerschool-2013/_media/starving_cpu/starvingcpus.pdf) by Francesc Alted
- [2012 PyData Workshop: Boosting NumPy with Numexpr and Cython](https://www.youtube.com/watch?v=J3-oN_TulTg) by Francesc Alted
- [Moving away from HDF5](http://cyrille.rossant.net/moving-away-hdf5/) and the follow-up [Should you use HDF5](http://cyrille.rossant.net/should-you-use-hdf5/) by Cyrille Rossant
- [On HDF5 and the future of data management](http://blog.khinsen.net/posts/2016/01/07/on-hdf5-and-the-future-of-data-management/) by Konrad Hinsen
- [To HDF5 and beyond](http://alimanfoo.github.io/2016/04/14/to-hdf5-and-beyond.html) by Alistair Miles
- [Retrieval of Genomic Data using PyTables](https://www.duo.uio.no/handle/10852/41542) Master's thesis by Henrik Glasø Skifjeld

### Special thanks

[Julien Guillaumin](https://www.linkedin.com/in/julienguillaumin): HDF5 for image augmentation for deep learning applications